In [178]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import json
import os 
import re

In [6]:
from importlib import reload

In [7]:
from Scripts import EDA_functions as mt_eda
reload(mt_eda)

In [8]:
data_path = "Data/data.json"

In [9]:
os.path.isfile(data_path)

True

In [10]:
with open(data_path, "rb") as inp: 
    data = json.load(inp)

In [11]:
data.keys()

dict_keys(['Messages', 'Photos', 'Places', 'Purchases', 'Spotify', 'Usage', 'User'])

## Explore Messages "tab"

In [12]:
len(data['Messages'])

169

In [13]:
type(data['Messages'])

list

In [14]:
data['Messages'][:3]

[{'match_id': 'Match 169',
  'messages': [{'to': '5bda0f045c67bcb02727e8c3',
    'from': 'You',
    'message': 'Rose!! üåπ I get it',
    'sent_date': 'Thu, 29 Nov 2018 06:43:33 GMT'}]},
 {'match_id': 'Match 168',
  'messages': [{'to': '5bdc7209e53ebed626ea4a03',
    'from': 'You',
    'message': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/giphy.gif?width=250&height=132',
    'sent_date': 'Wed, 21 Nov 2018 01:18:37 GMT',
    'type': 'gif',
    'fixed_height': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/200.gif?width=379&height=200'},
   {'to': '5bdc7209e53ebed626ea4a03',
    'from': 'You',
    'message': 'Hahaha that was fantastic!',
    'sent_date': 'Wed, 21 Nov 2018 01:18:55 GMT'},
   {'to': '5bdc7209e53ebed626ea4a03',
    'from': 'You',
    'message': 'Also can you be the phosphorus and i have the big wooden stick üòÅüëçüèæüòâ',
    'sent_date': 'Wed, 21 Nov 2018 01:19:30 GMT'},
   {'to': '5bdc7209e53ebed626ea4a03',
    'from': 'You',
    'message': 'Big sticks don‚Äôt impress you?',
    'sent_date': 'Wed, 21 Nov 2018 01:27:49 GMT'},
   {'to': '5bdc7209e53ebed626ea4a03',
    'from': 'You',
    'message': 'That‚Äôs probably better for me anyways',
    'sent_date': 'Wed, 21 Nov 2018 01:28:06 GMT'}]},
 {'match_id': 'Match 167',
  'messages': [{'to': '5aa4c938ce81fc740cf975bf',
    'from': 'You',
    'message': 'Hey how‚Äôs it going? Happy Wednesday!',
    'sent_date': 'Thu, 07 Jun 2018 00:57:00 GMT'},
   {'to': '5aa4c938ce81fc740cf975bf',
    'from': 'You',
    'message': 'What beach is that in your pic and can we still go there?',
    'sent_date': 'Sun, 07 Oct 2018 12:56:52 GMT'},
   {'to': '5aa4c938ce81fc740cf975bf',
    'from': 'You',
    'message': 'Hey',
    'sent_date': 'Sat, 17 Nov 2018 16:16:23 GMT'},
   {'to': '5aa4c938ce81fc740cf975bf',
    'from': 'You',
    'message': 'How‚Äôs it going?',
    'sent_date': 'Tue, 20 Nov 2018 05:33:00 GMT'}]}]

In [15]:
type(data['Messages'][0])

dict

In [16]:
data['Messages'][1].keys()

dict_keys(['match_id', 'messages'])

In [17]:
data['Messages'][1]

{'match_id': 'Match 168',
 'messages': [{'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/giphy.gif?width=250&height=132',
   'sent_date': 'Wed, 21 Nov 2018 01:18:37 GMT',
   'type': 'gif',
   'fixed_height': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/200.gif?width=379&height=200'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Hahaha that was fantastic!',
   'sent_date': 'Wed, 21 Nov 2018 01:18:55 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Also can you be the phosphorus and i have the big wooden stick üòÅüëçüèæüòâ',
   'sent_date': 'Wed, 21 Nov 2018 01:19:30 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Big sticks don‚Äôt impress you?',
   'sent_date': 'Wed, 21 Nov 2018 01:27:49 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'That‚Äôs probably better for me anyways',
   'sent_date': 'Wed, 21 Nov 2018 01:28:06 GMT'}]}

In [18]:
data['Messages'][1]

{'match_id': 'Match 168',
 'messages': [{'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/giphy.gif?width=250&height=132',
   'sent_date': 'Wed, 21 Nov 2018 01:18:37 GMT',
   'type': 'gif',
   'fixed_height': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/200.gif?width=379&height=200'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Hahaha that was fantastic!',
   'sent_date': 'Wed, 21 Nov 2018 01:18:55 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Also can you be the phosphorus and i have the big wooden stick üòÅüëçüèæüòâ',
   'sent_date': 'Wed, 21 Nov 2018 01:19:30 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Big sticks don‚Äôt impress you?',
   'sent_date': 'Wed, 21 Nov 2018 01:27:49 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'That‚Äôs probably better for me anyways',
   'sent_date': 'Wed, 21 Nov 2018 01:28:06 GMT'}]}

In [19]:
# Structure for each item in messages 
{k: type(v) for k, v in data['Messages'][0].items()}

{'match_id': str, 'messages': list}

In [20]:
msg_df = pd.DataFrame(data['Messages'][10]['messages'])

In [21]:
msg_df.head()

,from,message,sent_date,to
0,You,Interesting pic by the toilet.... not quite su...,"Sat, 10 Nov 2018 03:50:33 GMT",5b949a891501499e1faa047e

In [23]:
msg_df['sent_date'] = pd.to_datetime(msg_df['sent_date'])

In [24]:
msg_df.columns

Index(['from', 'message', 'sent_date', 'to'], dtype='object')

In [25]:
temp_df1 = mt_eda.get_msg_df(data["Messages"][1])

In [26]:
data['Messages'][107:109]

[{'match_id': 'Match 62', 'messages': []},
 {'match_id': 'Match 61',
  'messages': [{'to': '5603cbd9b2f521ea2c44916c',
    'from': 'You',
    'message': 'Do you believe in ghosts? ',
    'sent_date': 'Sat, 26 Sep 2015 17:40:45 GMT'},
   {'to': '5603cbd9b2f521ea2c44916c',
    'from': 'You',
    'message': "Hey how's it going?  ",
    'sent_date': 'Sat, 26 Sep 2015 17:46:38 GMT'}]}]

In [27]:
# Demo case 
mt_eda.get_msg_df({"match_id":"a", "messages":[]})

,message,sent_date,fixed_height,type,from,to,n_words_in_msg,time_since_last_msg,time_since_last_2_msgs,funny_word_in_msg
-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
reload(mt_eda)

In [140]:
list_of_dfs = []
i=0
for x in data["Messages"]:
    i+=1
    try:
        list_of_dfs.append(mt_eda.get_msg_df(x))
    except:
        print("Index Number", i)
        print("Contents: \n", x)
        pass
# list_of_dfs = [mt_eda.get_msg_df(msg_dict) for msg_dict in data["Messages"]]

In [146]:
len(list_of_dfs)

169

In [147]:
n_rows = [df.shape[0] for df in list_of_dfs]

In [148]:
pd.Series(n_rows).describe()

count    169.000000
mean       5.710059
std        9.289905
min        1.000000
25%        1.000000
50%        2.000000
75%        5.000000
max       64.000000
dtype: float64

In [149]:
pd.Series(n_rows).sum()

965

In [150]:
list_of_dfs[-3]

                    from                    message           sent_date  \
match_id msg_number
Match 3  0           You  Hey girl how's it going?  2014-03-27 16:25:19
         1           You        Going out tonight?  2014-03-27 22:04:16

                                           to  fixed_height  type  \
match_id msg_number
Match 3  0           533379aa329c196b56000a6d           NaN   NaN
         1           533379aa329c196b56000a6d           NaN   NaN

                     n_words_in_msg time_since_last_msg  \
match_id msg_number
Match 3  0                        6                 NaT
         1                        4            05:38:57

                    time_since_last_2_msgs  funny_word_in_msg  \
match_id msg_number
Match 3  0                             NaT                  0
         1                             NaT                  0

                     question_word_in_msg
match_id msg_number
Match 3  0                              1
         1                              1

In [151]:
"?" in list_of_dfs[-3]['message'].iloc[1]

True

In [152]:
list_of_dfs[0]

,,from,message,sent_date,to,fixed_height,type,n_words_in_msg,time_since_last_msg,time_since_last_2_msgs,funny_word_in_msg,question_word_in_msg
match_id,msg_number,,,,,,,,,,,
Match 169,0,You,Rose!! üåπ I get it,2018-11-29 06:43:33,5bda0f045c67bcb02727e8c3,NaN,NaN,5,NaT,NaT,0,0

In [153]:
list_of_dfs[0].index.get_level_values(0)[0]

'Match 169'

In [154]:
all_indexes = [df.index.get_level_values(0)[0] for df in list_of_dfs]

In [155]:
all_msg_df = pd.concat(list_of_dfs, axis = 0)

In [156]:
all_msg_df.shape

(965, 12)

In [174]:
all_msg_df.head()

                                                           fixed_height from  \
match_id  msg_number
Match 169 0                                                         NaN  You
Match 168 0           https://media0.giphy.com/media/6wpHEQNjkd74Q/2...  You
          1                                                         NaN  You
          2                                                         NaN  You
          3                                                         NaN  You

                      funny_word_in_msg  \
match_id  msg_number
Match 169 0                         0.0
Match 168 0                         0.0
          1                         1.0
          2                         0.0
          3                         0.0

                                                                message  \
match_id  msg_number
Match 169 0                                           Rose!! üåπ I get it
Match 168 0           https://media0.giphy.com/media/6wpHEQNjkd74Q/g...
          1                                  Hahaha that was fantastic!
          2           Also can you be the phosphorus and i have the ...
          3                               Big sticks don‚Äôt impress you?

                      n_words_in_msg  question_word_in_msg  \
match_id  msg_number
Match 169 0                      5.0                   0.0
Match 168 0                      1.0                   1.0
          1                      4.0                   0.0
          2                     14.0                   0.0
          3                      5.0                   1.0

                               sent_date time_since_last_2_msgs  \
match_id  msg_number
Match 169 0          2018-11-29 06:43:33                    NaT
Match 168 0          2018-11-21 01:18:37                    NaT
          1          2018-11-21 01:18:55                    NaT
          2          2018-11-21 01:19:30               00:00:53
          3          2018-11-21 01:27:49               00:08:54

                     time_since_last_msg                        to type  -1
match_id  msg_number
Match 169 0                          NaT  5bda0f045c67bcb02727e8c3  NaN NaN
Match 168 0                          NaT  5bdc7209e53ebed626ea4a03  gif NaN
          1                     00:00:18  5bdc7209e53ebed626ea4a03  NaN NaN
          2                     00:00:35  5bdc7209e53ebed626ea4a03  NaN NaN
          3                     00:08:19  5bdc7209e53ebed626ea4a03  NaN NaN

In [159]:
type(all_msg_df.index.tolist())

list

In [160]:
all_msg_df.index.tolist()[3]

('Match 168', 2)

In [161]:
for tup in all_msg_df.index.tolist():
    try:
        len(tup)
    except:
        print(tup)

In [162]:
demo_df = pd.DataFrame([])
demo_df.loc["lol", -1] = np.nan

In [183]:
number = "7185943385"
# find 10 digit number -- "^\d{10}$"
# re.sub('[^A-Za-z0-9]+', '', msg)

In [179]:
all_msg_df.columns

Index([          'fixed_height',                   'from',
            'funny_word_in_msg',                'message',
               'n_words_in_msg',   'question_word_in_msg',
                    'sent_date', 'time_since_last_2_msgs',
          'time_since_last_msg',                     'to',
                         'type',                       -1],
      dtype='object')

In [185]:
msgs = all_msg_df['message']

In [186]:
msgs[:3]

match_id   msg_number
Match 169  0                                             Rose!! üåπ I get it
Match 168  0             https://media0.giphy.com/media/6wpHEQNjkd74Q/g...
           1                                    Hahaha that was fantastic!
Name: message, dtype: object

In [193]:
if 's' in 'silly':
    print("u")

u

In [201]:
re.findall("\d{10}$", "hello 2345678910")

['2345678910']

In [196]:
i = 0
numbers = []
for msg in msgs.values:
    temp_numb = re.findall("\d{10}$", "hello 2345678910")`

My number is 7185943385
Also do you wanna switch to texting. Tinder doesn't always notify me. My number is 7185943385
My number is 7185943385, tinder sometimes doesn't notify me so call/text me
I'm from NY. And yea my number is 7185943385
My number is 7185943385

In [195]:
i

5

In [165]:
temp_tuples = [(tup[0], str(tup[1])) for tup in all_msg_df.index.tolist()]
all_msg_df.index = pd.MultiIndex.from_tuples(temp_tuples, names = ["match_id", "msg_number"])

In [166]:
all_msg_df.head()

                                                           fixed_height from  \
match_id  msg_number
Match 169 0                                                         NaN  You
Match 168 0           https://media0.giphy.com/media/6wpHEQNjkd74Q/2...  You
          1                                                         NaN  You
          2                                                         NaN  You
          3                                                         NaN  You

                      funny_word_in_msg  \
match_id  msg_number
Match 169 0                         0.0
Match 168 0                         0.0
          1                         1.0
          2                         0.0
          3                         0.0

                                                                message  \
match_id  msg_number
Match 169 0                                           Rose!! üåπ I get it
Match 168 0           https://media0.giphy.com/media/6wpHEQNjkd74Q/g...
          1                                  Hahaha that was fantastic!
          2           Also can you be the phosphorus and i have the ...
          3                               Big sticks don‚Äôt impress you?

                      n_words_in_msg  question_word_in_msg  \
match_id  msg_number
Match 169 0                      5.0                   0.0
Match 168 0                      1.0                   1.0
          1                      4.0                   0.0
          2                     14.0                   0.0
          3                      5.0                   1.0

                               sent_date time_since_last_2_msgs  \
match_id  msg_number
Match 169 0          2018-11-29 06:43:33                    NaT
Match 168 0          2018-11-21 01:18:37                    NaT
          1          2018-11-21 01:18:55                    NaT
          2          2018-11-21 01:19:30               00:00:53
          3          2018-11-21 01:27:49               00:08:54

                     time_since_last_msg                        to type  -1
match_id  msg_number
Match 169 0                          NaT  5bda0f045c67bcb02727e8c3  NaN NaN
Match 168 0                          NaT  5bdc7209e53ebed626ea4a03  gif NaN
          1                     00:00:18  5bdc7209e53ebed626ea4a03  NaN NaN
          2                     00:00:35  5bdc7209e53ebed626ea4a03  NaN NaN
          3                     00:08:19  5bdc7209e53ebed626ea4a03  NaN NaN

In [170]:
all_msg_df.loc["Match 160"]

,fixed_height,from,funny_word_in_msg,message,n_words_in_msg,question_word_in_msg,sent_date,time_since_last_2_msgs,time_since_last_msg,to,type,-1
msg_number,,,,,,,,,,,,
0,https://media2.giphy.com/media/9YKvq41UGOkCI/2...,You,0.0,https://media2.giphy.com/media/9YKvq41UGOkCI/g...,1.0,1.0,2018-11-11 15:39:31,NaT,NaT,5925d7aec7ddefdf38b4807b,gif,NaN

In [177]:
all_msg_df.describe()

,funny_word_in_msg,n_words_in_msg,question_word_in_msg,time_since_last_2_msgs,time_since_last_msg,-1
count,961.000000,961.000000,961.000000,699,796,0.0
mean,0.068678,11.085328,0.575442,4 days 08:23:36.640915,3 days 03:17:56.028894,NaN
std,0.253038,7.042949,0.494533,19 days 18:18:55.536538,16 days 07:30:45.889065,NaN
min,0.000000,1.000000,0.000000,0 days 00:00:03,0 days 00:00:01,NaN
25%,0.000000,6.000000,0.000000,0 days 00:12:11.500000,0 days 00:01:37,NaN
50%,0.000000,10.000000,1.000000,0 days 02:05:47,0 days 00:17:23,NaN
75%,0.000000,14.000000,1.000000,1 days 02:08:38,0 days 11:26:52.750000,NaN
max,1.000000,47.000000,1.000000,230 days 11:35:40,228 days 13:06:03,NaN

In [173]:
all_msg_df.index.get_level_values(0)

Index(['Match 169', 'Match 168', 'Match 168', 'Match 168', 'Match 168',
       'Match 168', 'Match 167', 'Match 167', 'Match 167', 'Match 167',
       ...
       'Match 5', 'Match 5', 'Match 4', 'Match 3', 'Match 3', 'Match 2',
       'Match 1', 'Match 1', 'Match 1', 'Match 1'],
      dtype='object', name='match_id', length=965)

In [22]:
temp_df1["n_words_in_msg"] = temp_df1.apply(lambda x: len(x['message'].split(" ")), axis = 1)

In [23]:
time_since_last_msg = temp_df1["sent_date"].diff()

In [24]:
temp_df1["sent_date"].diff(2)

match_id   msg_number
Match 168  0                 NaT
           1                 NaT
           2            00:00:53
           3            00:08:54
           4            00:08:36
Name: sent_date, dtype: timedelta64[ns]

In [25]:
temp_df1.apply(lambda x: 1 if x["message"])

SyntaxError: invalid syntax (<ipython-input-25-a782054bf277>, line 1)

In [26]:
phrase_temp = temp_df1['message'][2]

In [28]:
def word_list_in_phrase(word_list, phrase):
    """
    Check if word is in phrase list -- comparing 2 lists 
    << use sets instead? >> 
    """
    
    # Normalize phrase 
    phrase_list = phrase.split(" ")
    phrase_list = [x.lower() for x in phrase_list]
        
    # Compare 
    for word in word_list:
        if word in phrase_list:
            return 1
    return 0

In [29]:
word_list_in_phrase(funny_words, phrase_temp)

0

In [30]:
phrase_temp

'Also can you be the phosphorus and i have the big wooden stick üòÅüëçüèæüòâ'

In [31]:
funny_words

['hahaha', 'lol', 'haha', 'ha']

In [32]:
temp_df1.apply(lambda x: word_list_in_phrase(funny_words, x['message']), axis =1 )

match_id   msg_number
Match 168  0             0
           1             1
           2             0
           3             0
           4             0
dtype: int64