In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import json
import os 
import re

In [2]:
from importlib import reload

In [3]:
from Scripts import EDA_functions as mt_eda
reload(mt_eda)

In [4]:
data_path = "Data/data.json"

In [5]:
os.path.isfile(data_path)

True

In [6]:
with open(data_path, "rb") as inp: 
    data = json.load(inp)

In [7]:
data.keys()

dict_keys(['Messages', 'Photos', 'Places', 'Purchases', 'Spotify', 'Usage', 'User'])

## Explore Messages "tab"

In [8]:
len(data['Messages'])

169

In [9]:
type(data['Messages'])

list

In [10]:
data['Messages'][:3]

[{'match_id': 'Match 169',
  'messages': [{'to': '5bda0f045c67bcb02727e8c3',
    'from': 'You',
    'message': 'Rose!! üåπ I get it',
    'sent_date': 'Thu, 29 Nov 2018 06:43:33 GMT'}]},
 {'match_id': 'Match 168',
  'messages': [{'to': '5bdc7209e53ebed626ea4a03',
    'from': 'You',
    'message': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/giphy.gif?width=250&height=132',
    'sent_date': 'Wed, 21 Nov 2018 01:18:37 GMT',
    'type': 'gif',
    'fixed_height': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/200.gif?width=379&height=200'},
   {'to': '5bdc7209e53ebed626ea4a03',
    'from': 'You',
    'message': 'Hahaha that was fantastic!',
    'sent_date': 'Wed, 21 Nov 2018 01:18:55 GMT'},
   {'to': '5bdc7209e53ebed626ea4a03',
    'from': 'You',
    'message': 'Also can you be the phosphorus and i have the big wooden stick üòÅüëçüèæüòâ',
    'sent_date': 'Wed, 21 Nov 2018 01:19:30 GMT'},
   {'to': '5bdc7209e53ebed626ea4a03',
    'from': 'You',
    'message': 'Big sticks don‚Äôt impress you?',
    'sent_date': 'Wed, 21 Nov 2018 01:27:49 GMT'},
   {'to': '5bdc7209e53ebed626ea4a03',
    'from': 'You',
    'message': 'That‚Äôs probably better for me anyways',
    'sent_date': 'Wed, 21 Nov 2018 01:28:06 GMT'}]},
 {'match_id': 'Match 167',
  'messages': [{'to': '5aa4c938ce81fc740cf975bf',
    'from': 'You',
    'message': 'Hey how‚Äôs it going? Happy Wednesday!',
    'sent_date': 'Thu, 07 Jun 2018 00:57:00 GMT'},
   {'to': '5aa4c938ce81fc740cf975bf',
    'from': 'You',
    'message': 'What beach is that in your pic and can we still go there?',
    'sent_date': 'Sun, 07 Oct 2018 12:56:52 GMT'},
   {'to': '5aa4c938ce81fc740cf975bf',
    'from': 'You',
    'message': 'Hey',
    'sent_date': 'Sat, 17 Nov 2018 16:16:23 GMT'},
   {'to': '5aa4c938ce81fc740cf975bf',
    'from': 'You',
    'message': 'How‚Äôs it going?',
    'sent_date': 'Tue, 20 Nov 2018 05:33:00 GMT'}]}]

In [11]:
type(data['Messages'][0])

dict

In [12]:
data['Messages'][1].keys()

dict_keys(['match_id', 'messages'])

In [13]:
data['Messages'][1]

{'match_id': 'Match 168',
 'messages': [{'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/giphy.gif?width=250&height=132',
   'sent_date': 'Wed, 21 Nov 2018 01:18:37 GMT',
   'type': 'gif',
   'fixed_height': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/200.gif?width=379&height=200'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Hahaha that was fantastic!',
   'sent_date': 'Wed, 21 Nov 2018 01:18:55 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Also can you be the phosphorus and i have the big wooden stick üòÅüëçüèæüòâ',
   'sent_date': 'Wed, 21 Nov 2018 01:19:30 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Big sticks don‚Äôt impress you?',
   'sent_date': 'Wed, 21 Nov 2018 01:27:49 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'That‚Äôs probably better for me anyways',
   'sent_date': 'Wed, 21 Nov 2018 01:28:06 GMT'}]}

In [14]:
data['Messages'][1]

{'match_id': 'Match 168',
 'messages': [{'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/giphy.gif?width=250&height=132',
   'sent_date': 'Wed, 21 Nov 2018 01:18:37 GMT',
   'type': 'gif',
   'fixed_height': 'https://media0.giphy.com/media/6wpHEQNjkd74Q/200.gif?width=379&height=200'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Hahaha that was fantastic!',
   'sent_date': 'Wed, 21 Nov 2018 01:18:55 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Also can you be the phosphorus and i have the big wooden stick üòÅüëçüèæüòâ',
   'sent_date': 'Wed, 21 Nov 2018 01:19:30 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'Big sticks don‚Äôt impress you?',
   'sent_date': 'Wed, 21 Nov 2018 01:27:49 GMT'},
  {'to': '5bdc7209e53ebed626ea4a03',
   'from': 'You',
   'message': 'That‚Äôs probably better for me anyways',
   'sent_date': 'Wed, 21 Nov 2018 01:28:06 GMT'}]}

In [15]:
# Structure for each item in messages 
{k: type(v) for k, v in data['Messages'][0].items()}

{'match_id': str, 'messages': list}

In [16]:
msg_df = pd.DataFrame(data['Messages'][10]['messages'])

In [17]:
msg_df.head()

,from,message,sent_date,to
0,You,Interesting pic by the toilet.... not quite su...,"Sat, 10 Nov 2018 03:50:33 GMT",5b949a891501499e1faa047e

In [18]:
msg_df['sent_date'] = pd.to_datetime(msg_df['sent_date'])

In [19]:
msg_df.columns

Index(['from', 'message', 'sent_date', 'to'], dtype='object')

In [20]:
data['Messages'][107:109]

[{'match_id': 'Match 62', 'messages': []},
 {'match_id': 'Match 61',
  'messages': [{'to': '5603cbd9b2f521ea2c44916c',
    'from': 'You',
    'message': 'Do you believe in ghosts? ',
    'sent_date': 'Sat, 26 Sep 2015 17:40:45 GMT'},
   {'to': '5603cbd9b2f521ea2c44916c',
    'from': 'You',
    'message': "Hey how's it going?  ",
    'sent_date': 'Sat, 26 Sep 2015 17:46:38 GMT'}]}]

## Make master dataset of all message info

In [21]:
reload(mt_eda)

In [22]:
list_of_dfs = [mt_eda.get_msg_df(msg_dict) for msg_dict in data["Messages"]]

In [23]:
list_of_dfs = []
i=0
for x in data["Messages"]:
    i+=1
    try:
        list_of_dfs.append(mt_eda.get_msg_df(x))
    except:
        print("Index Number", i)
        print("Contents: \n", x)
        pass
# list_of_dfs = [mt_eda.get_msg_df(msg_dict) for msg_dict in data["Messages"]]

In [24]:
list2 = []
for df in list_of_dfs:
    if -1 in df.columns:
        list2.append(df)
        print(df)

In [25]:
len(list_of_dfs)

169

In [26]:
all_msg_df = pd.concat(list_of_dfs, axis = 0)

In [27]:
all_msg_df.head(20)

                      explicit_word_in_msg  \
match_id  msg_number
Match 169 0                            0.0
Match 168 0                            0.0
          1                            0.0
          2                            0.0
          3                            0.0
          4                            0.0
Match 167 0                            0.0
          1                            0.0
          2                            0.0
          3                            0.0
Match 166 0                            0.0
          1                            0.0
          2                            0.0
          3                            0.0
          4                            0.0
          5                            0.0
          6                            0.0
Match 165 0                            0.0
          1                            0.0
Match 164 0                            0.0

                                                           fixed_height from  \
match_id  msg_number
Match 169 0                                                         NaN  You
Match 168 0           https://media0.giphy.com/media/6wpHEQNjkd74Q/2...  You
          1                                                         NaN  You
          2                                                         NaN  You
          3                                                         NaN  You
          4                                                         NaN  You
Match 167 0                                                         NaN  You
          1                                                         NaN  You
          2                                                         NaN  You
          3                                                         NaN  You
Match 166 0                                                         NaN  You
          1                                                         NaN  You
          2                                                         NaN  You
          3                                                         NaN  You
          4                                                         NaN  You
          5                                                         NaN  You
          6                                                         NaN  You
Match 165 0                                                         NaN  You
          1                                                         NaN  You
Match 164 0                                                         NaN  You

                      funny_word_in_msg  \
match_id  msg_number
Match 169 0                         0.0
Match 168 0                         0.0
          1                         1.0
          2                         0.0
          3                         0.0
          4                         0.0
Match 167 0                         0.0
          1                         0.0
          2                         0.0
          3                         0.0
Match 166 0                         0.0
          1                         0.0
          2                         1.0
          3                         0.0
          4                         0.0
          5                         0.0
          6                         0.0
Match 165 0                         0.0
          1                         0.0
Match 164 0                         0.0

                                                                message  \
match_id  msg_number
Match 169 0                                           Rose!! üåπ I get it
Match 168 0           https://media0.giphy.com/media/6wpHEQNjkd74Q/g...
          1                                  Hahaha that was fantastic!
          2           Also can you be the phosphorus and i have the ...
          3                               Big sticks don‚Äôt impress you?
          4                       That‚Äôs probably better for me anyways
Match 167 0                        Hey how‚Äôs it going? Happy Wednesday!
          1           What beach is that in your pic and can we stil...
          2                                                         Hey
          3                                             How‚Äôs it going?
Match 166 0                                                         Hey
          1           How does a cute web developer end up on Tinder...
          2                              Haha what are you looking for?
          3                                    And what have you found?
          4           Something casual as well. Haven‚Äôt found much y...
          5                           But then again I just found you üòÄ
          6                   The dating game is hard... to me at least
Match 165 0                                                         Hey
          1                                  So whatcha leaving NY for?
Match 164 0                        Hey so is that your dog in the pics?

                      n_words_in_msg  question_mark_in_msg  \
match_id  msg_number
Match 169 0                      5.0                   0.0
Match 168 0                      1.0                   1.0
          1                      4.0                   0.0
          2                     14.0                   0.0
          3                      5.0                   1.0
          4                      6.0                   0.0
Match 167 0                      6.0                   1.0
          1                     13.0                   1.0
          2                      1.0                   0.0
          3                      3.0                   1.0
Match 166 0                      1.0                   0.0
          1                     17.0                   1.0
          2                      6.0                   1.0
          3                      5.0                   1.0
          4                      9.0                   0.0
          5                      8.0                   0.0
          6                      9.0                   0.0
Match 165 0                      1.0                   0.0
          1                      5.0                   1.0
Match 164 0                      9.0                   1.0

                      question_word_in_msg           sent_date  \
match_id  msg_number
Match 169 0                            0.0 2018-11-29 06:43:33
Match 168 0                            0.0 2018-11-21 01:18:37
          1                            0.0 2018-11-21 01:18:55
          2                            0.0 2018-11-21 01:19:30
          3                            0.0 2018-11-21 01:27:49
          4                            0.0 2018-11-21 01:28:06
Match 167 0                            0.0 2018-06-07 00:57:00
          1                            1.0 2018-10-07 12:56:52
          2                            0.0 2018-11-17 16:16:23
          3                            0.0 2018-11-20 05:33:00
Match 166 0                            0.0 2018-11-17 20:45:21
          1                            1.0 2018-11-17 20:56:06
          2                            1.0 2018-11-17 23:33:17
          3                            1.0 2018-11-17 23:33:29
          4                            0.0 2018-11-17 23:45:21
          5                            0.0 2018-11-18 00:44:36
          6                            0.0 2018-11-18 00:54:35
Match 165 0                            0.0 2018-11-17 14:51:22
          1                            0.0 2018-11-17 20:56:32
Match 164 0                            0.0 2018-11-17 20:45:12

                     time_since_last_2_msgs time_since_last_msg  \
match_id  msg_number
Match 169 0                             NaT                 NaT
Match 168 0                             NaT                 NaT
          1                             NaT     0 days 00:00:18
          2                 0 days 00:00:53     0 days 00:00:35
          3                 0 days 00:08:54     0 days 00:08:19
          4                 0 days 00:08:36     0 days 00:00:17
Match 167 0                             NaT                 NaT
          1                             NaT   122 days 11:59:52
          2               163 days 15:19:23    41 days 03:19:31
          3                43 days 16:36:08     2 days 13:16:37
Match 166 0                             NaT                 NaT
          1                             NaT     0 days 00:10:45
          2                 0 days 02:47:56     0 days 02:37:11
          3                 0 days 02:37:23     0 days 00:00:12
          4                 0 days 00:12:04     0 days 00:11:52
          5                 0 days 01:11:07     0 days 00:59:15
          6                 0 days 01:09:14     0 days 00:09:59
Match 165 0                             NaT                 NaT
          1                             NaT     0 days 06:05:10
Match 164 0                             NaT                 NaT

                                            to type
match_id  msg_number
Match 169 0           5bda0f045c67bcb02727e8c3  NaN
Match 168 0           5bdc7209e53ebed626ea4a03  gif
          1           5bdc7209e53ebed626ea4a03  NaN
          2           5bdc7209e53ebed626ea4a03  NaN
          3           5bdc7209e53ebed626ea4a03  NaN
          4           5bdc7209e53ebed626ea4a03  NaN
Match 167 0           5aa4c938ce81fc740cf975bf  NaN
          1           5aa4c938ce81fc740cf975bf  NaN
          2           5aa4c938ce81fc740cf975bf  NaN
          3           5aa4c938ce81fc740cf975bf  NaN
Match 166 0           589c7bb9434a5ee614daa88e  NaN
          1           589c7bb9434a5ee614daa88e  NaN
          2           589c7bb9434a5ee614daa88e  NaN
          3           589c7bb9434a5ee614daa88e  NaN
          4           589c7bb9434a5ee614daa88e  NaN
          5           589c7bb9434a5ee614daa88e  NaN
          6           589c7bb9434a5ee614daa88e  NaN
Match 165 0           5bd63869c9c9d70e3cda732f  NaN
          1           5bd63869c9c9d70e3cda732f  NaN
Match 164 0           56e20320211c32112a2a3206  NaN

In [28]:
all_msg_df.sum(axis=0)

explicit_word_in_msg                       1
funny_word_in_msg                         66
n_words_in_msg                         10653
question_mark_in_msg                     501
question_word_in_msg                     297
time_since_last_2_msgs    3040 days 11:03:52
time_since_last_msg       2497 days 09:55:19
dtype: object

In [29]:
print(all_msg_df[all_msg_df['explicit_word_in_msg'] == 1]['message'].values)

['Haha that sounds pretty interesting. All I listen to are podcasts about sex or economics ü§ì']

In [30]:
pd.crosstab(all_msg_df['question_mark_in_msg'].values, all_msg_df['question_word_in_msg'].values
           , rownames=["q_mark_in_msg"]
           , colnames=["q_word_in_msg"]
           )

q_word_in_msg  0.0  1.0
q_mark_in_msg
0.0            408   52
1.0            256  245

In [31]:
pd.crosstab(all_msg_df['question_mark_in_msg'].values, all_msg_df['question_word_in_msg'].values
           , rownames=["q_mark_in_msg"]
           , colnames=["q_word_in_msg"]
           , normalize = True)

q_word_in_msg       0.0       1.0
q_mark_in_msg
0.0            0.424558  0.054110
1.0            0.266389  0.254943

In [32]:
n_rows = [df.shape[0] for df in list_of_dfs]

In [33]:
pd.Series(n_rows).describe()

count    169.000000
mean       5.710059
std        9.289905
min        1.000000
25%        1.000000
50%        2.000000
75%        5.000000
max       64.000000
dtype: float64

In [34]:
pd.Series(n_rows).sum()

965

In [35]:
list_of_dfs[-3]

                    from                    message           sent_date  \
match_id msg_number
Match 3  0           You  Hey girl how's it going?  2014-03-27 16:25:19
         1           You        Going out tonight?  2014-03-27 22:04:16

                                           to  fixed_height  type  \
match_id msg_number
Match 3  0           533379aa329c196b56000a6d           NaN   NaN
         1           533379aa329c196b56000a6d           NaN   NaN

                     n_words_in_msg time_since_last_msg  \
match_id msg_number
Match 3  0                        6                 NaT
         1                        4            05:38:57

                    time_since_last_2_msgs  funny_word_in_msg  \
match_id msg_number
Match 3  0                             NaT                  0
         1                             NaT                  0

                     question_word_in_msg  question_mark_in_msg  \
match_id msg_number
Match 3  0                              1                     1
         1                              0                     1

                     explicit_word_in_msg
match_id msg_number
Match 3  0                              0
         1                              0

In [36]:
list_of_dfs[0]

,,from,message,sent_date,to,fixed_height,type,n_words_in_msg,time_since_last_msg,time_since_last_2_msgs,funny_word_in_msg,question_word_in_msg,question_mark_in_msg,explicit_word_in_msg
match_id,msg_number,,,,,,,,,,,,,
Match 169,0,You,Rose!! üåπ I get it,2018-11-29 06:43:33,5bda0f045c67bcb02727e8c3,NaN,NaN,5,NaT,NaT,0,0,0,0

In [37]:
all_msg_df.shape

(965, 13)

In [38]:
all_msg_df.head()

                      explicit_word_in_msg  \
match_id  msg_number
Match 169 0                            0.0
Match 168 0                            0.0
          1                            0.0
          2                            0.0
          3                            0.0

                                                           fixed_height from  \
match_id  msg_number
Match 169 0                                                         NaN  You
Match 168 0           https://media0.giphy.com/media/6wpHEQNjkd74Q/2...  You
          1                                                         NaN  You
          2                                                         NaN  You
          3                                                         NaN  You

                      funny_word_in_msg  \
match_id  msg_number
Match 169 0                         0.0
Match 168 0                         0.0
          1                         1.0
          2                         0.0
          3                         0.0

                                                                message  \
match_id  msg_number
Match 169 0                                           Rose!! üåπ I get it
Match 168 0           https://media0.giphy.com/media/6wpHEQNjkd74Q/g...
          1                                  Hahaha that was fantastic!
          2           Also can you be the phosphorus and i have the ...
          3                               Big sticks don‚Äôt impress you?

                      n_words_in_msg  question_mark_in_msg  \
match_id  msg_number
Match 169 0                      5.0                   0.0
Match 168 0                      1.0                   1.0
          1                      4.0                   0.0
          2                     14.0                   0.0
          3                      5.0                   1.0

                      question_word_in_msg           sent_date  \
match_id  msg_number
Match 169 0                            0.0 2018-11-29 06:43:33
Match 168 0                            0.0 2018-11-21 01:18:37
          1                            0.0 2018-11-21 01:18:55
          2                            0.0 2018-11-21 01:19:30
          3                            0.0 2018-11-21 01:27:49

                     time_since_last_2_msgs time_since_last_msg  \
match_id  msg_number
Match 169 0                             NaT                 NaT
Match 168 0                             NaT                 NaT
          1                             NaT            00:00:18
          2                        00:00:53            00:00:35
          3                        00:08:54            00:08:19

                                            to type
match_id  msg_number
Match 169 0           5bda0f045c67bcb02727e8c3  NaN
Match 168 0           5bdc7209e53ebed626ea4a03  gif
          1           5bdc7209e53ebed626ea4a03  NaN
          2           5bdc7209e53ebed626ea4a03  NaN
          3           5bdc7209e53ebed626ea4a03  NaN

In [39]:
all_msg_df.columns

Index(['explicit_word_in_msg', 'fixed_height', 'from', 'funny_word_in_msg',
       'message', 'n_words_in_msg', 'question_mark_in_msg',
       'question_word_in_msg', 'sent_date', 'time_since_last_2_msgs',
       'time_since_last_msg', 'to', 'type'],
      dtype='object')

In [40]:
msgs = all_msg_df['message']

In [41]:
number = "7185943385"
# find 10 digit number -- "^\d{10}$"
# re.sub('[^A-Za-z0-9]+', '', msg)

In [42]:
i = 0
numbers = []
for msg in msgs.values:
    if type(msg) == str:
        temp_numb = re.findall("\d{10}$", msg)
        if temp_numb !=[]:
            i =+ 1
            numbers.append(msg)

In [43]:
numbers

['My number is 7185943385',
 "Also do you wanna switch to texting. Tinder doesn't always notify me. My number is 7185943385",
 'My number is 7185943385']

In [44]:
all_msg_df.describe()

,explicit_word_in_msg,funny_word_in_msg,n_words_in_msg,question_mark_in_msg,question_word_in_msg,time_since_last_2_msgs,time_since_last_msg
count,961.000000,961.000000,961.000000,961.000000,961.000000,699,796
mean,0.001041,0.068678,11.085328,0.521332,0.309053,4 days 08:23:36.640915,3 days 03:17:56.028894
std,0.032258,0.253038,7.042949,0.499805,0.462344,19 days 18:18:55.536538,16 days 07:30:45.889065
min,0.000000,0.000000,1.000000,0.000000,0.000000,0 days 00:00:03,0 days 00:00:01
25%,0.000000,0.000000,6.000000,0.000000,0.000000,0 days 00:12:11.500000,0 days 00:01:37
50%,0.000000,0.000000,10.000000,1.000000,0.000000,0 days 02:05:47,0 days 00:17:23
75%,0.000000,0.000000,14.000000,1.000000,1.000000,1 days 02:08:38,0 days 11:26:52.750000
max,1.000000,1.000000,47.000000,1.000000,1.000000,230 days 11:35:40,228 days 13:06:03

## String Work

In [45]:
all_texts = all_msg_df['message'].str.cat(sep=' ')

In [46]:
all_texts_list = all_texts.split(" ")

In [47]:
len(all_texts_list)

10653

In [49]:
len(set(all_texts_list))

2507

In [50]:
from collections import Counter

In [51]:
Counter(all_texts_list).most_common(20)

[('', 437),
 ('you', 284),
 ('I', 263),
 ('to', 219),
 ('the', 210),
 ('a', 208),
 ('and', 148),
 ('in', 146),
 ('it', 125),
 ('of', 101),
 ('Hey', 99),
 ('for', 98),
 ('your', 93),
 ('that', 92),
 ('have', 91),
 ('was', 84),
 ('do', 84),
 ("I'm", 84),
 ('like', 83),
 ('going?', 79)]